{% extends "navigate.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/article.css')}}">
{% endblock %}

{% block content_full %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
    {% for message in messages %}
    <div class="alert alert-success" style="text-align: center">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>{{ message }}</strong></div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="btn-group" role="group" aria-label="...">
    <a href="{{url_for('publish')}}"><button type="button" class="btn btn-default">发表帖子</button></a>
</div>

<HR>

<div class="articles">
    <ul class="list-group">
        {% for item in article_list %}
        <li class="list-group-item">
            <span class="badge">{{item.state}}</span>
            <div class="article-group">
                <p class="article-title">【{{item.tag}}】 <a href="{{url_for('detail', article_id=item.article_id)}}">{{item.title}}</a></p>
            </div>
            <div class="article-info">
                <span class="article-author"><label for="username">{{item.author.username}}</label></span>
                <span class="article-time">{{item.create_time}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}